<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow-lg p-4 mb-3 rounded color-card-registro">
                <!-- Clases para sombra y fondo blanco -->
                <div class="card-body">
                    <h4 class="mb-4">Registro de Médico</h4>

                    <!-- Formulario de Registro de Médico -->
                    <form action="/admin/add-medico" method="POST">
                        <div class="mb-2">
                            <label for="nombre-medico" class="form-label">Nombre del médico:</label>
                            <input type="text" class="form-control form-control-custom" name="nombre-medico"
                                placeholder="Nombre del médico" autofocus>
                        </div>
                        <div class="mb-2">
                            <label for="documento-identidad" class="form-label">Documento de identidad:</label>
                            <input type="number" name="documento-identidad" class="form-control form-control-custom"
                                placeholder="Documento de identidad" min="0">
                        </div>
                        <div class="mb-3">
                            <label for="fecha-nacimiento" class="form-label">Fecha de nacimiento:</label>
                            <input type="date" id="fecha-nacimiento" name="fecha-nacimiento"
                                class="form-control form-control-custom">
                        </div>
                        <div class="mb-2">
                            <label for="especialidad" class="form-label">Especialidad:</label>
                            <input type="text" id="especialidad" name="especialidad"
                                class="form-control form-control-custom" placeholder="Especialidad">
                        </div>
                        <div class="mb-2">
                            <label for="email" class="form-label">Correo electrónico:</label>
                            <input type="email" id="email" name="email" class="form-control form-control-custom"
                                placeholder="Correo electrónico">
                        </div>
                        <div class="mb-2">
                            <label for="contraseña" class="form-label">Contraseña:</label>
                            <input type="password" id="contraseña" name="contraseña"
                                class="form-control form-control-custom" placeholder="Contraseña">
                        </div>
                        <div class="mb-4">
                            <label for="celular" class="form-label">Número de celular:</label>
                            <input type="tel" id="celular" name="celular" class="form-control form-control-custom"
                                placeholder="Número de celular">
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-form-login-signup" type="submit">
                                Registrar médico
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>