<div class="container text-center mb-5">
    <h2>Integrantes</h2>
</div>

<div class="container">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-sm-6">
            <div class="card mb-3 card-custom-acerca">
                <div class="card-header fondo-oscuro-card-header">
                    <h5 class="card-title"><strong>Catalina Alba Fortich</strong></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Ingeniería de Telecomunicaciones</h6>
                </div>
                <div class="card-body">
                    <p>Código estudiantil: 2283297</p>
                    <p class="card-text">Materia: Ingenieria de Software 55NF1</p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-sm-6">
            <div class="card mb-3 card-custom-acerca">
                <div class="card-header fondo-oscuro-card-header">
                    <h5 class="card-title"><strong>Miguel Angel Patiño Nieves</strong></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Ingeniería Informática</h6>

                </div>
                <div class="card-body">
                    <p class="card-text">Código estudiantil: 2360817</p>
                    <p class="card-text">Materia: Ingenieria de Software 55NF1</p>

                </div>
            </div>
        </div>
    </div>
</div>