<div class="container text-center mb-5">
    <h2>Preguntas frecuentes</h2>
</div>

<div class="container">
    <div class="row align-items-center mb-3">

        <!-- Card 1 -->
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">¿Qué tipos de especialidades médicas están disponibles </h5>
                    <p class="card-text"><em>Contamos con una amplia gama de especialidades, incluyendo medicina
                            general,
                            pediatría, cardiología, ortopedia, entre otras..</em></p>
                </div>
            </div>
        </div>

        <!-- Feedback -->
        <div class="col-sm-4 text-center">
            <div class="d-flex justify-content-end justify-content-md-start align-items-center">
                <p class="mb-0 me-2">¿Le fue útil?</p>
                <button type="button" class="btn btn-link feedback-button btn-gray btn-like"><i
                        class="fas fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-link feedback-button btn-gray btn-dislike"><i
                        class="fas fa-thumbs-down"></i></button>
            </div>
        </div>



        <!-- Card 2 -->
        <div class="col-sm-8 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">¿Qué medidas de seguridad se aplican para proteger mi información personal y
                        médica?</h5>
                    <p class="card-text"><em>La seguridad de tu información es nuestra prioridad. Utilizamos
                            encriptación
                            avanzada y protocolos de seguridad para asegurar que tus datos estén protegidos y sean
                            accesibles solo para ti y tus profesionales de la salud.</em></p>
                </div>
            </div>
        </div>
        <!-- Feedback -->
        <div class="col-sm-4 text-center">
            <div class="d-flex justify-content-end justify-content-md-start align-items-center">
                <p class="mb-0 me-2">¿Le fue útil?</p>
                <button type="button" class="btn btn-link feedback-button btn-gray btn-like"><i
                        class="fas fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-link feedback-button btn-gray btn-dislike"><i
                        class="fas fa-thumbs-down"></i></button>
            </div>
        </div>



        <!-- Card 3 -->
        <div class="col-sm-8 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">¿Cómo puedo contactar con soporte técnico si tengo problemas con la
                        plataforma?</h5>
                    <p class="card-text"><em>Si experimenta problemas técnicos o tiene preguntas relacionadas con la
                            plataforma, nuestro equipo de soporte está disponible para ayudarle. Puede contactarnos a
                            través de la sección 'Acerca' en nuestra plataforma o haciendo uso del botón flotante de
                            WhatsApp que encontrará en la esquina inferior derecha de su pantalla.</em></p>
                </div>
            </div>
        </div>
        <!-- Feedback -->
        <div class="col-sm-4 text-center">
            <div class="d-flex justify-content-end justify-content-md-start align-items-center">
                <p class="mb-0 me-2">¿Le fue útil?</p>
                <button type="button" class="btn btn-link feedback-button btn-gray btn-like"><i
                        class="fas fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-link feedback-button btn-gray btn-dislike"><i
                        class="fas fa-thumbs-down"></i></button>
            </div>
        </div>



    </div>
</div>