/* --------------- NAVIGATION LOGIN - REGISTER ---------------*/
.nav-padding-custom {
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-color-custom {
    background-color: #C9F0FC !important;
}

.question-icon {
    width: 56px;
    /* Ajusta este valor según sea necesario */
    height: auto;
    /* Esto mantendrá la proporción de aspecto */
}


/* ICONO WHATSAPP */

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-btn img {
    width: 60px;
    height: 60px;
}

/* Para pantallas de menos de 768px (por ejemplo, tablets y móviles) */
@media (max-width: 767px) {
    .whatsapp-btn img {
        width: 50px;
        /* Un tamaño más pequeño para pantallas menores */
        height: 50px;
    }
}

/* Para pantallas aún más pequeñas, como teléfonos móviles */
@media (max-width: 480px) {
    .whatsapp-btn img {
        width: 40px;
        /* Un tamaño aún más pequeño */
        height: 40px;
    }
}