{{!-- Si no ha iniciado sesión este es el nav --}}
<nav class="navbar navbar-expand-lg nav-color-custom">
    <div class="container-fluid nav-padding-custom">
        <a class="navbar-brand d-flex align-items-center" href="/iniciar-sesion">
            <i class="bi bi-house-fill" style="color: #FDCE3E; font-size: 28px;"></i>
            <span class="ms-2">Inicio</span>
        </a>

        <div class="d-flex ms-auto align-items-center">
            <a class="nav-link active me-4" aria-current="page" href="/acerca">Acerca</a>

            {{#if usuario}}
            <a class="nav-link active me-4" aria-current="page" href="/cerrar-sesion">Cerrar sesión</a>
            {{/if}}

            <a href="URL_IMAGEN">
                <img src="/img/preguntas.png" class="question-icon" alt="Descripción de la imagen" />
            </a>
        </div>
    </div>
</nav>

<div class="whatsapp-btn">
    <a href="https://wa.me/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" />
    </a>
</div>