<div class="container">
    <div class="row">
        <!-- Primera Columna con 3 Tarjetas -->
        <div class="col-md-6 col-sm-12">
            <!-- Tarjeta 1 -->
            <a href="/medico/editar-perfil" class="a-sin-estilo">
                <div class="container mt-4">
                    <div class="row rounded shadow-lg card-custom">
                        <div class="col-md-4 d-flex align-items-center justify-content-center"
                            style="background-color: rgb(218, 238, 251);">
                            <i class="bi bi-person-fill-gear" style="font-size: 3rem;"></i>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="p-3">
                                <h5>Editar perfil</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- Tarjeta 2 -->
            <a href="/medico/pacientes" class="a-sin-estilo">
                <div class="container mt-4">
                    <div class="row rounded shadow-lg card-custom">
                        <div class="col-md-4 d-flex align-items-center justify-content-center"
                            style="background-color: rgb(218, 238, 251);">
                            <i class="bi bi-person-vcard-fill" style="font-size: 3rem;"></i>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="p-3">
                                <h5>Pacientes</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- Tarjeta 3 -->
            <a href="#" class="a-sin-estilo">
                <div class="container mt-4">
                    <div class="row rounded shadow-lg card-custom">
                        <div class="col-md-4 d-flex align-items-center justify-content-center"
                            style="background-color: rgb(218, 238, 251);">
                            <i class="bi bi-journal-bookmark-fill" style="font-size: 3rem;"></i>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="p-3">
                                <h5>Agenda de citas</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Segunda Columna con 2 Tarjetas -->
        {{!-- <div class="col-md-6 col-sm-12">
            <!-- Tarjeta 4 -->
            <a href="tu-ruta-de-destino" class="a-sin-estilo">
                <div class="container mt-4">
                    <div class="row rounded shadow-lg card-custom">
                        <div class="col-md-4 d-flex align-items-center justify-content-center"
                            style="background-color: rgb(218, 238, 251);">
                            <i class="bi bi-clipboard2-pulse-fill" style="font-size: 3rem;"></i>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="p-3">
                                <h5>Historial Médico</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- Tarjeta 5 -->
            <a href="tu-ruta-de-destino" class="a-sin-estilo">
                <div class="container mt-4">
                    <div class="row rounded shadow-lg card-custom">
                        <div class="col-md-4 d-flex align-items-center justify-content-center"
                            style="background-color: rgb(218, 238, 251);">
                            <i class="bi bi-calendar-check" style="font-size: 3rem;"></i>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="p-3">
                                <h5>Calendario de citas</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div> --}}
    </div>
</div>